<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Maggie Blood Bank</title>
    <link rel="stylesheet" href="/index-f445e3ea.css">
    <link rel="stylesheet" href="/about.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%-include ('components/navbar')-%>
        <div class="container">
            <section class="about-section">
                <h1 class="text-3xl my-4">About Maggie Blood Bank</h1>
                <p class="my-4">
                    Maggie Blood Bank is a non-profit organization dedicated to saving lives by providing a reliable
                    source of blood and blood products for those in need. Our mission is to ensure that safe,
                    high-quality blood is always available to the community.
                </p>
                <p class="my-4">
                    We have been serving the community for over two decades, and during this time, we have collected and
                    distributed millions of units of blood to hospitals, clinics, and individuals. Our dedicated team of
                    professionals and volunteers work tirelessly to make sure that those in need receive the gift of
                    life when they need it the most.
                </p>
                <p class="my-4">
                    At Maggie Blood Bank, we believe that every drop of blood donated can make a significant difference
                    in someone's life. Join us in our mission to save lives, and let's make a positive impact together.
                </p>
            </section>
        </div>
        <%-include ('components/footer')-%>
</body>

</html>