<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include ('components/links') -%>
</head>
<body>
    <div class="flex justify-center my-20">
        <div class="text-center">
            <div class="text-8xl my-4" style="color: #74cb4e;">
                <i class="fa-solid fa-circle-check my-1 mx-4 "></i>
            </div>
            <div class="text-4xl my-4">
                Login Successfully
            </div>
            <div class="text-xl my-10">
                <a class="alert-btn " href="/login"><i class="fa-solid fa-arrow-right fa-rotate-180"></i>&ensp;Go to Admin Page</a>
            </div>
        </div>
    </div>
</body>
</html>