<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Maggie Blood Bank</title>
    <%-include ('components/links') -%>
        <style>

        </style>
</head>

<body>
    <%-include ('components/navbar')-%>
        <div class="">
            <h2 class="text-4xl text-center my-4">Contact</h2>
            <div class="my-4 contact-grid">
                <div class="">
                    <div class="">
                        <form action="/contact" method="post">
                            <h2 class="mx-4 text-2xl my-4 underline">Contact Form</h2>
                            <div class="flex mx-4">
                                <div class="">
                                    <label class="block" for="">Name</label>
                                    <input type="text" class="input-border px-2" name="fullname" required>
                                </div>
                                <div class="">
                                    <label class="block mx-4" for="">Email</label>
                                    <input type="email" class="input-border px-2 mx-4" name="useremail" required>
                                </div>
                            </div>
                            <div class="">
                                <div class="my-4 mx-4">
                                    <label class="block " for="">Phone Number</label>
                                    <input type="tel" class="input-border px-2 w-full" name="userphone" required>
                                </div>
                                <div class="mx-4">
                                    <label class="block " for="">Message</label>
                                    <input type="text" class="input-border px-2 w-full" name="usermessage">
                                </div>
                                <div class="mx-4 my-4">
                                    <button class="btn-submit w-2/5" type="submit">submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <h2 class="mx-4 text-2xl my-4 text-center underline">Our Location</h2>
                    </div>
                    <div class="text-center my-20">
                        <p>307 Roberts Mission Lake Jamesmouth, AR 62113</p>
                        <div class="flex justify-center space-x-6 my-1 text-xs">
                            <p><i class="fa-solid fa-phone"> </i> 18001030405</p>
                            <p><i class="fa-solid fa-phone"> </i> +91 8983860451</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <%-include ('components/footer') -%>

</body>

</html>