<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maggie Blood Bank</title>
    <%-include ('components/links') -%>
</head>
<body>

    <div class="shadow-box w-3/5 mx-auto my-10">
        <div class="flex bg-green border-green px-6 py-4 text-green text-2xl">
            <i class="fa-solid fa-circle-check my-1 mx-4 "></i>
            <h2>Your <%=title%> Submit Successfully!</h2>
        </div>
        <div class="py-10 mx-10">
            <p>Your <%=title%> have been successfully recorded! You may leave this page.</p>
        </div>
        <div class="border-black-400 text-end py-4">
            <a class="btn-bg p-2 mx-4 rounded-lg" href="">Ok</a>
        </div>
    </div>
</body>
</html>