<nav class="bg-slate-100 py-5 flex justify-between max-sm:hidden">
    <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 mx-4">
        <i class="fa-solid fa-hand-holding-droplet fa-flip-horizontal text-2xl mr-3 text-red-700"></i>
        <span class="self-center text-xl font-semibold whitespace-nowrap ">Maggie Blood Bank</span>
    </a>
    <ul class="flex space-x-12 mx-6">
        <li class="text-start text-sm font-sans"> <a href="/">Home</a> </li>
        <li class="text-start text-sm font-sans"> <a href="/about">About</a></li>
        <li class="text-start text-sm font-sans"> <a href="/contact">Contact</a></li>
        <li class="text-start text-sm font-sans"> <a href="/donor">Donor</a></li>
        <li class="text-start text-sm font-sans"> <a href="/bloodrequest">Blood Request</a> </li>
        <li class="text-start text-sm font-sans"> <a href="/bloodstock">Blood Stock</a></li>
    </ul>
    <a href="/login" class="mx-10 text-sm font-sans">Log In</a>
</nav>

<!-- Phone navbar -->
<nav class="bg-slate-100 py-5 justify-between max-sm:block hidden max-sm:w-screen">
    <i class="fa-solid fa-bars text-xl mx-4" onclick="swtichMenu()"></i>
    <div class="m-4 hidden" id="phonemenu"> 
        <ul class="">
            <li class="text-start text-sm font-sans my-4"> <a href="/">Home</a> </li>
            <li class="text-start text-sm font-sans my-4"> <a href="/about">About</a></li>
            <li class="text-start text-sm font-sans my-4"> <a href="/contact">Contact</a></li>
            <li class="text-start text-sm font-sans my-4"> <a href="#">Donor</a></li>
            <li class="text-start text-sm font-sans my-4"> <a href="#">Blood Request</a> </li>
            <li class="text-start text-sm font-sans my-4"> <a href="#">Blood Stock</a></li>
        </ul>
        <a href="/login" class="text-sm font-sans">Log In</a>
    </div>
</nav>